@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

.snowflake {
  position: absolute;
  animation: animateSnow 8s linear infinite;
}

.snowflake img {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animateSnow {
  0%{
    transform: translate(0, -10rem);
  }
  50% {
    transform: translate(50px, 50vh);
  }
  100% {
    transform: translate(100px, calc(100vh + 10rem));
  }
}

.arrowClick {
  transition: transform 3000ms ease-in-out;
  animation: click 1s linear;
}

@keyframes click {
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@layer components {

  .button-styles {
    @apply py-2.5 relative transition font-bold duration-300 delay-1000 hover:bg-transparent hover:text-white;
    @apply inline-block px-8 uppercase cursor-pointer tracking-widest text-blue bg-blue-dark;
  }

  .buttonAnimationDefaultStyles {
    @apply absolute bg-blue transition-transform group-hover:transition-transform duration-250
  }

  .left-side {
    @apply buttonAnimationDefaultStyles left-0 bottom-0 w-px h-full scale-y-0 origin-top group-hover:origin-bottom group-hover:scale-y-100;
  }

  .right-side {
    @apply buttonAnimationDefaultStyles right-0 top-0 w-px h-full scale-y-0 origin-bottom group-hover:origin-top group-hover:scale-y-100;
  }

  .bottom-side {
    @apply buttonAnimationDefaultStyles right-0 bottom-0 h-px w-full scale-x-0 origin-left group-hover:origin-right group-hover:scale-x-100;
  }

  .top-side {
    @apply buttonAnimationDefaultStyles left-0 top-0 h-px w-full scale-x-0 origin-right group-hover:origin-left group-hover:scale-x-100;
  }
}